@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    To learns more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>

@using (Html.BeginForm("Upload", "Home", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
        <div>
            <u>Upload cycle data</u>
            <input type="file" name="file"/>
            <input type="submit" value="Upload File" name="Command"/><br/>
        </div>
    <div>
</div>
}