/* basic positioning */
.legend {
    list-style: none;
}

    .legend li {
        float: left;
        margin-right: 10px;
    }

    .legend span {
        border: 1px solid #ccc;
        float: left;
        width: 12px;
        height: 12px;
        margin: 2px;
    }
    /* your colors */
    .legend .hr {
        background-color: rgba(220,220,220,1);
    }

    .legend .speed {
        background-color: rgba(176,23,31,1);
    }

    .legend .cadence {
        background-color: rgba(138, 43, 226,1);
    }

    .legend .power {
        background-color: rgba(34, 139, 34, 1);
    }


.editGraph table td {
    height: 500px;
    background-color: #ccc;
    padding: 0;
    width: 1px;
}

.editGraph table {
    margin-left: 30px;
    margin-right: 3px;
    width: 96.5%;
}

.editGraph table td.highlighted {
    background-color: #FFF
}

nav * {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding-left: 10px;
}

.legend {
    float: right;
}

nav {
    float: right;
    padding-top: 25px;
}

.header-title {
    background-color: rgb(169, 0, 205);
    padding: 10px;
    color: white;
    text-align: center;
}

.secondary-hrm {
    color: rgb(180, 0, 0);
}

.upload {
    padding: 35px;
}

.graphs {
    width: 300px;
}

.info {
    text-align: center;
}

#hrGraph, #altGraph, #speedGraph, #cadGraph {
    cursor: pointer;
    text-align: center;
}

@media print {
    table * {
        font-size: 10px;
    }

    td {
        padding: 2px;
    }

    .header-title, .navi, .upload-bar, .comparison_graphs {
        display: none;
    }
}

.wrapper {
    position: relative;
}

.editGraph {
    top: 10px;
    position: absolute;
    width: 100%;
    opacity: 0.4;
}